---
http_interactions:
- request:
    method: post
    uri: https://api.lexoffice.io/v1/invoices
    body:
      encoding: UTF-8
      string: '{"id":null,"organizationId":null,"createdDate":null,"updatedDate":null,"version":null,"language":null,"archived":null,"voucherStatus":null,"voucherNumber":null,"voucherDate":"2023-09-30T22:00:00.000Z","dueDate":null,"address":{"name":null,"supplement":null,"street":null,"city":null,"zip":null,"countryCode":null,"contactId":"901e2da9-7753-46c9-8921-b3d463e04857"},"lineItems":[{"id":null,"type":"custom","name":"product-37
        - tier-19","description":"resource-19","quantity":1,"unitName":"Stück","unitPrice":{"currency":"EUR","netAmount":0.01,"grossAmount":0.01,"taxRatePercentage":19},"discountPercentage":0,"lineItemAmount":100.0},{"id":null,"type":"custom","name":"product-39
        - tier-20","description":"resource-20","quantity":1,"unitName":"Stück","unitPrice":{"currency":"EUR","netAmount":0.01,"grossAmount":0.01,"taxRatePercentage":19},"discountPercentage":0,"lineItemAmount":100.0},{"id":null,"type":"custom","name":"product-41
        - tier-21","description":"resource-21","quantity":1,"unitName":"Stück","unitPrice":{"currency":"EUR","netAmount":0.01,"grossAmount":0.01,"taxRatePercentage":19},"discountPercentage":0,"lineItemAmount":100.0}],"totalPrice":{"currency":"EUR","totalNetAmount":null,"totalGrossAmount":null,"totalTaxAmount":null,"taxRatePercentage":null,"totalDiscountAbsolute":null,"totalDiscountPercentage":null},"taxAmounts":null,"taxConditions":{"taxType":"net"},"paymentConditions":null,"shippingConditions":{"shippingDate":"2023-08-31T22:00:00.000Z","shippingEndDate":"2023-09-30T21:59:59.999Z","shippingType":"serviceperiod"},"closingInvoice":null,"relatedVouchers":null,"introduction":null,"remark":null,"title":null,"files":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer n2.o0c.raladGqUDySbv9ZKZaNKME0pf7W3YulfNjlaTV1TC
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a0e64d84-c229-44ef-a2bf-75815d1c4586
      X-Amz-Apigw-Id:
      - LmOutFtwliAFtHg=
    body:
      encoding: UTF-8
      string: '{ "id" : "2d125d44-abef-4a12-ab83-69fc673ff0f8", "resourceUri": "https://api.lexoffice.io/v1/invoices/2d125d44-abef-4a12-ab83-69fc673ff0f8",
        "createdDate": "2023-09-21T09:59:51.885+02:00", "updatedDate": "2023-09-21T09:59:51.886+02:00",
        "version": 1 }'
  recorded_at: Sat, 30 Sep 2023 22:00:00 GMT
recorded_with: VCR 6.2.0
